* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size:small;
    position: relative;
}
body {
    background-color: #f9f9f9;
    display:flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:small ;
}
.pr_head{
    font-size: large;
    background-color: #f9f9f9;
    height: 60px;
    padding: 21px;
    margin: 1px -21px;
    margin-top: -20px;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-left: 250px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#reference{
    width:371px;
}
.form-group-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.form-group {
    flex: 1; 
}
label {
    display: block;
    margin-bottom: 0px;
}
input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 5px 9px;
    background-color: #d3caca;
    color: #020202;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 9px;
    margin: 0px 0px
}

button:hover {
    background-color: #eaedea;
}
.align-right {
    display: flex;
    justify-content: flex-end;
}
#amount-currency,#instructed-currency{
    width: 67px;
    margin-top: 15px;
    margin-left: -52px;
}
#amount,#instructed-amount{
    width: 339px;   
}
#value-date{
    width: 371px;
    margin-top: 5px;
    margin-left: -29px;
}
#exchange-rate{
    width: 371px;
    margin-left: -28px;
}   

.iban-button {
    padding: 8px 12px;
    margin-top: 0px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: -63px;
}

.iban-button:hover {
    background-color: #ddd;
}
.input-button-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}
.border{
    border-top: .04px solid #a8a4a4;
    margin: -13px -3px;
}
#Charged_ammount{
    width: 309px;
}
#Charged_ammount_currency{
    width: 65px;
    margin-left: -13px;
    margin-top: 14px;
}
#instruction-next-agent{
    width: 371px;
}
.create-button {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.checkbox-button {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 602px;
}
.create-submit {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.create-submit:hover {
    background-color: #45a049;
}
